{% extends 'base.html.twig' %}

{% block body %}
    <h1>Find your Friend Alien </h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Username</th>
            <th>Age</th>
            <th>Family</th>
            <th>Food</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for alien in aliens %}
            <tr>
                <td>
                    {{ alien.username }}
                </td>
                <td>
                    {{ alien.age }}
                </td>
                <td>
                    {{ alien.family }}
                </td>
                <td>
                    {{ alien.food }}
                </td>
                <td>
                    <a href="{{ path('add_friend', {'id': alien.id}) }}" class="btn btn-xs btn-success">Add Friend</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}