{% trans_default_domain 'FOSUserBundle' %}
<h1> Register AlienBook</h1>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    {{ form_row(form.age) }}
    {{ form_row(form.family) }}
    {{ form_row(form.race) }}
    {{ form_row(form.food) }}
    {{ form_row(form.plainPassword) }}
<div>
    <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}
